body {
    background-color: #c3c3c3;
    font-family: 'Montserrat', 'Arial';
}

li {
    line-height: 24px;
}

/* -------------------- */
/* Contenedor principal */
/* -------------------- */

.contenedor-principal {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 40px auto;
} 

/* -------------------- */
/* Informacion general */
/* -------------------- */

.informacion-general {
    padding: 100px 90px;
}

/* Descripcion */

.nombre {
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.texto-descripcion {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.descripcion {
    margin-bottom: 40px;
}

.descripcion-profesion {
    font-size: 14px;
    font-weight: 700;
} 

/* Titulos principales */

.titulo-seccion-principal {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

.texto-naranja {
    color: #FB6D3A;
}

/* Seccion proyectos */

.lista-proyectos {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 17px;
}

.enlace-proyectos {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.puntos-proyectos {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #595959;    
}

/* Seccion experiencia laboral */

.puesto-empresa {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
}

.periodo-empresa {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.lista-empresa {
    width: 525px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 17px;
} 

/* Seccion educacion */

.subtitulo-educacion {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}

.titulo-naranja {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: -12px;
}

.periodoo {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

/* -------------------- */
/* Informacion lateral */
/* -------------------- */

.informacion-lateral {
    background-color: #1E2939;
    padding: 40px 0px;
}

.titulo-lateral {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 50px;
    margin-bottom: 8px;
}
.contactos, .habilidades-tecnicas, .habilidades-blandas {
    margin-left: 40px;
}

/* Seccion contactos */ 

.tipo-contacto {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
} 

.contacto-info {
    color: rgb(156, 156, 156);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* Seccion de lista */

.lista-lateral {
    padding-left: 17px;
}

.lista-lateral > li {
    color: #FB6D3A;
} 

.elemento-lista-lateral {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}